<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Loại sản phẩm - Lizi Admin', 'none')"/>
<body class="container-fluid">

	<div th:replace="navigation :: menu"></div>

	<div>
		<h2>Quản lý loại sản phẩm</h2>
		
		<a th:href="@{/categories/new}"> <i class="fa-solid fa-folder-plus fa-2x icon-dark"></i></a>
			
	</div>		
	
	<div th:replace="fragments :: search_form_and_message" />
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover">
			<thead class="table-dark">
				<tr>									
					<th class="hideable-column">
						<th th:replace="fragments :: column_link(${moduleURL}, 'id', 'ID', 'tag')" />
					</th>					
					<th>Hình ảnh</th>					
					<th>
						<th th:replace="fragments :: column_link(${moduleURL}, 'name', 'Tên loại sản phẩm', 'tag')" />	
					</th>							
					<th class="hideable-column">Tên gọi tắt</th>
					<th th:replace="fragments :: column_link(${moduleURL}, 'enabled', 'Trạng thái', 'none')" />
					<th></th>			
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="category : ${listCategories}">										
					<td class="hideable-column">[[${category.id}]]</td>
					<td>
						<img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid"/>						
					</td>
					<td>[[${category.name}]]</td>
					<td class="hideable-column">[[${category.alias}]]</td>
					
					<td>
						<div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})" />
					</td>
					
					<td>
						<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})" />
						&nbsp;&nbsp;
						<div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id},  ${!category.hasChildren})" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="category : ${listCategories}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${category.imagePath}}" style="width: 100px" class="img-fluid"/>
			</div>
			<div class="col-8">
				<div>[[${category.name}]]</div>				
				<div class="mt-2">
					<div th:replace="fragments :: status(${category.enabled}, 'category', '/categories/' + ${category.id})"></div>
					&nbsp; 			
					<div th:replace="fragments :: edit('category', '/categories/edit/' + ${category.id})"></div>
					&nbsp; 
					<div th:replace="fragments :: delete('category', ${category.id}, '/categories/delete/' + ${category.id}, ${!category.hasChildren})"></div>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>
	
	<th:block th:unless="${keyword != null}">
		<div th:replace="fragments :: pagination(${moduleURL}, 'loại sản phẩm gốc')"></div>
	</th>
	
	<div th:replace="modal_fragments :: confirm_modal" ></div>
		
	<div th:replace="fragments :: footer"></div>		
	
</body>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/categories}]]";
	
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'category');
		});
	});
	
		
</script>
</html>