<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Người dùng - Lizi Admin', 'none')"/>

<body class="container-fluid">

	<div th:replace="navigation :: menu"></div>

	<div>
		<h2>Quản lý người dùng</h2>
		<a th:href="@{/users/new}"> <i class="fa-solid fa-user-plus fa-2x icon-dark"></i></a>
		&nbsp;|&nbsp;
		<a th:href="@{/users/export/excel}"><i class="fa-solid fa-file-excel fa-2x icon-dark"></i></a>
	</div>
	
	<div th:replace="fragments :: search_form_and_message" />
			
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover">
			<thead class="table-dark">
				<tr>							
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('/users','id', 'ID', 'tag')" />	
					</th>								
					<th>Hình ảnh</th>					
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('/users','email', 'Email', 'tag')" />	
					</th>							
					<th th:replace="fragments :: column_link('/users', 'firstName', 'Tên', 'none')" />
					<th th:replace="fragments :: column_link('/users', 'lastName', 'Họ', 'none')" />					
					<th>Vai trò</th>										
					<th th:replace="fragments :: column_link('/users','enabled', 'Trạng thái', 'none')" />						
					<th></th>			
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="user : ${listUsers}">										
					<td class="hideable-column">[[${user.id}]]</td>
					<td>
						<div th:replace="fragments :: user_photos" />
					</td>
					<td class="hideable-column">[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					
					<td>
						<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})" />
					</td>
					
					<td>
						<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})" />
						&nbsp;&nbsp;
						<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="user : ${listUsers}" class="row m-1">
			<div class="col-4">
				<div th:replace="fragments :: user_photos" ></div>		
			</div>
			<div class="col-8">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div class="mt-2">
					<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
					&nbsp; 			
					<div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
					&nbsp; 
					<div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>
	</div>	
	
	<div th:replace="fragments :: pagination('/users', 'user')"></div>
	
	<div th:replace="modal_fragments :: confirm_modal"></div>
		
	<div th:replace="fragments :: footer"></div>
			
</body>
	
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">			
		moduleURL = "[[@{/users}]]";
		
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'user');
			});
		});
					
</script>
		
</html>