<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="with=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />		
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
	<script type="text/script" th:src="@{/js/common.js}"></script>	
	<script th:src="@{https://kit.fontawesome.com/6aca6ae746.js}" crossorigin="anonymous"></script>
</head>
<body>

	<div th:fragment="footer" class="text-center">
		<p>Lizi Control Panel Copyright &copy; Lizi</p>
	</div>

	<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
		<a class="text-white text-decoration-none"
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
			[[${columnLabel}]]
		</a>								
		<span th:if="${sortField == fieldName}"
			th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
	</th>		
   	
	<a th:fragment="page_link(pageNum, label)"
		class="page-link" 
		th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">[[${label}]]</a>
	
	<div th:fragment="user_photos" th:remove="tag">
		<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
		<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
	</div>
	
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
			th:href="@{${entityURL} + '/enabled/false'}"
			th:title="'Vô hiệu hóa' + ${entityName}"
			></a>
			
		<a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark" 
			th:href="@{${entityURL} + '/enabled/true'}"
			th:title="'Kích hoạt' + ${entityName}"
			></a>	
	</div>
	
	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fas fa-edit fa-2x icon-green" th:href="@{${editURL}}"
			th:title="'Sửa ' + ${entityName}"></a>
	</div>
	
	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
		<th:block th:if="${visible}">		
		<a class="fas fa-trash fa-2x icon-dark link-delete" 
			th:href="@{${deleteURL}}"
			th:entityId="${entityId}"
			th:title="'Xóa ' + ${entityName}"></a>
		</th:block>	
	</div>
	
	<div th:fragment="pagination(entityName)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Thông tin [[${entityName}]] từ [[${startCount}]] đến [[${endCount}]] của [[${totalItems}]] [[${entityName}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>Không có [[${entityName}]] nào</span>
		</div>
		
		<div th:if="${totalPages > 1}">
			<nav>
			  <ul class="pagination justify-content-center flex-wrap">
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(1, 'Trang đầu')"></a>
			    </li>		  
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${currentPage - 1}, 'Trước')"></a>
			    </li>
			    
			    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
			    	th:each="i : ${#numbers.sequence(1, totalPages)}">
			    	<a th:replace="fragments :: page_link(${i}, ${i})"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${currentPage + 1}, 'Sau')"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: page_link(${totalPages}, 'Trang cuối')"></a>
			    </li>		    
			  </ul>
			</nav>	
		</div>							
	</div>
</body>
</html>