<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="with=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Home - Lizi Admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
	<script th:src="@{https://kit.fontawesome.com/6aca6ae746.js}" crossorigin="anonymous"></script>
</head>
<body class="container-fluid">
	<div>
		<nav class="navbar navbar-expand-lg bg-info navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img alt="LIZI logo" th:src="@{/images/lizi-logo.png}">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar"
			aria-expanded="false" aria-controls="topNavbar">
		    	<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
			 	<ul class="navbar-nav">
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/users}">Người dùng</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/categories}">Loại sản phẩm</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/brands}">Thương hiệu</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/products}">Sản phẩm</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/customers}">Khách hàng</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/shipping}">Vận chuyển</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/orders}">Đơn đặt hàng</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/report}">Báo cáo bán hàng</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/articles}">Quản lý bài viết</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/menus}">Doanh mục</a>
			 		</li>
			 		<li class="nav-item">
				 		<a class="nav-link text-white" th:href="@{/setting}">Cài đặt</a>
			 		</li>
			 	</ul>
			</div>
		</nav>
	</div>
	
	<div>
		<h2>Quản lý người dùng</h2>
		<a th:href="@{/users/new}">Tạo</a>
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
		
	<div class="table-responsive-xl">
		<table class="table table-bordered table-striped table-hover">
			<thead class="table-dark">
				<tr>
					<th>Id người dùng</th>				
					<th>Hình ảnh</th>
					<th>E-mail</th>					
					<th>
						<a th:if="${sortField != 'firstName'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName' + '&sortDir=' + ${sortDir}}">
							Tên
						</a>			
						<a th:if="${sortField == 'firstName'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName' + '&sortDir=' + ${reverseSortDir}}">
							Tên
						</a>		
									
						<span th:if="${sortField == 'firstName'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">							
						</span>						
					</th>				
					<th>
						<a th:if="${sortField != 'lastName'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName' + '&sortDir=' + ${sortDir}}">
							Họ
						</a>			
						<a th:if="${sortField == 'lastName'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName' + '&sortDir=' + ${reverseSortDir}}">
							Họ
						</a>		
									
						<span th:if="${sortField == 'lastName'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">							
						</span>
					</th>			
					<th>
						<a th:if="${sortField != 'roles'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=roles' + '&sortDir=' + ${sortDir}}">
							Vai trò
						</a>			
						<a th:if="${sortField == 'roles'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=roles' + '&sortDir=' + ${reverseSortDir}}">
							Vai trò
						</a>		
									
						<span th:if="${sortField == 'roles'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">							
						</span>
					</th>				
					<th>
						<a th:if="${sortField != 'enabled'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled' + '&sortDir=' + ${sortDir}}">
							Trạng thái
						</a>			
						<a th:if="${sortField == 'enabled'}" class="text-white text-decoration-none"
							th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled' + '&sortDir=' + ${reverseSortDir}}">
							Trạng thái
						</a>		
									
						<span th:if="${sortField == 'enabled'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">							
						</span>
					</th>	
					<th></th>				
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td>[[${user.id}]]</td>
					<td>
						<span th:if="${user.photos == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
						<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px"/>
					</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					<td>
						<a th:if="${user.enabled == true}" class="fa-solid fa-circle-check fa-2x icon-green"
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Vô hiệu hóa tài khoản"></a>
						<a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark"
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Kích hoạt tài khoản"></a>
					</td>
					<td>
						<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'users/edit/' + ${user.id}}" 
							title="Chỉnh sửa thông tin"></a>
						&nbsp;
						<a class="fa-solid fa-trash fa-2x icon-red link-delete" 
							th:href="@{'users/delete/' + ${user.id}}"
							th:userId="${user.id}"
							title="Xóa"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="text-center m-2" th:if="${totalItems > 0}">
		<span>Thông tin người dùng [[${startCount}]] đến [[${endCount}]] của [[${totalItems}]] người dùng</span>
	</div>	
	<div class="text-center m-2" th:if="${totalItems <= 0}">
		<span>Không có người dùng nào</span>
	</div>
	
	<div>
		<nav>
		  <ul class="pagination justify-content-center">
		  	<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		  		<a class="page-link" th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang đầu</a>
		  	</li>
 		  	
		  	<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		  		<a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trước</a>
		  	</li>
		  	
		    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
		    	th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
		    </li>		    
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Sau</a>
		    </li>
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a class="page-link" th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
		    </li>
		  </ul>
		</nav>																
	</div>
	
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Xác nhận xóa</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Có</a>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Không</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-center">
		<p>Lizi Control Panel Copyright &copy; Lizi</p>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				link = $(this);
				userId = link.attr("userId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Bạn có muốn xóa người dùng có ID: " + userId + " không?");
				$("#confirmModal").modal('show');
			})
		})
	</script>
	
</body>
</html>